img{

    width:150px;
    height:120px;
    float :left;
    margin-right:120px;
    
    object-fit: cover;

    border-radius:40px;

    /* animation: yash 4s reverse infinite ease ; */
    
}

table , tr , td , th{

    border:2px solid violet;

    border-collapse: collapse;

}

/* @keyframes yash {

    from{

        transform: rotate(0deg);
    }
    
    to{

        transform:rotate(360deg);
    }
    
} */

#box1{


     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: larger;
}

#box5{
    margin: 0;
    padding: 0;
    /* border:2px solid blue; */
    box-sizing:border-box;
}